# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/mister_pizza_db?schema=public"

# JWT
JWT_SECRET="your-jwt-secret"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Mail
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_FROM="Mister Pizza <no-reply@misterpizza.local>"